<meta charset="UTF-8">
<script src="https://unpkg.com/vue"></script>

<div id="app">

    <ul>
        <li v-for='(color, index) in colors'>Index: {{ index }} - Color: {{ color }}</li>
    </ul>
    <hr>
    <template v-for='(color, index) in colors'>
        <h3 style="display: inline;">
            Index: {{ index }} - Color: {{ color }}
        </h3>
    </template>
    <hr>
    <ul>
        <li v-for='person in people'>
            <div v-for='(attribute, key, index) in person'>
                {{ index + 1 }} - {{ key }}: {{ attribute }}
            </div>
        </li>
    </ul>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            colors: ['red', 'green', 'blue', 'yellow'],
            people: [{
                name: 'Pedro',
                age: 20,
                weight: 60
            }, {
                name: 'Guilherme',
                age: 7,
                weight: 20
            }]
        },
    });
</script>

<style>
    ul{
        list-style: none;
    }
</style>