<meta charset="UTF-8">
<script src="https://unpkg.com/vue"></script>

<div id="app">
    <template v-if='isLogado'>
        <p>Usuario logado: {{ name }}</p>
        <p>Perfil: {{ tipoDePerfil }}</p>
    </template>
    <p v-else-if="isAnonimo">Navegando como anônimo</p>
    <p v-else>Nenhum usuario logado</p>
    <button @click='isLogado = !isLogado'>
        {{ isLogado ? 'Sair' : 'Entrar' }}
    </button>
    <input type="checkbox" v-model='isAnonimo'>
    <hr>
    <footer v-show="tipoDePerfil === 'Admin' && isLogado">Desenvolvido para você, administrador!</footer>
    <footer v-show="isAnonimo && !isLogado">Desenvolvido para você, usuário anônimo!</footer>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            name: 'Maria',
            isLogado: false,
            isAnonimo: false,
            tipoDePerfil: 'Admin',
        },
    });
</script>